<%= form_for(@property_picture) do |f| %>
  <% if @property_picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property_picture.errors.count, "error") %> prohibited this property_picture from being saved:</h2>

      <ul>
      <% @property_picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :property_id %><br />
    <%= f.number_field :property_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
